<h1><%= @farmer.farm %></h1>

<% if (@farmer.has_wepay_account? && !@is_admin) %>
<br />
<%= link_to "Buy #{@farmer.produce} Now!", "/farmers/buy/#{@farmer.id}", :class => 'btn btn-danger btn-large', :id => 'buy-now-button' %>
<% end %>